
$widths: (
	8.33333%,
	16.66667%,
	25%,
	33.33333%,
	41.66667%,
	50%,
	58.33333%,
	66.66667%,
	75%,
	83.33333%,
	91.66667%,
	100%
);

.container {
	width: 100%;
}

.container--narrow {
	width: 100%;
}

.col {
	position: relative;
	display: block;
	float: left;
	min-height: 1px;
	width: 100%;
}

@media (min-width: $breakpoint-xs) {

	.col-xs-1  { width: nth($widths, 1)  }
	.col-xs-2  { width: nth($widths, 2)  }
	.col-xs-3  { width: nth($widths, 3)  }
	.col-xs-4  { width: nth($widths, 4)  }
	.col-xs-5  { width: nth($widths, 5)  }
	.col-xs-6  { width: nth($widths, 6)  }
	.col-xs-7  { width: nth($widths, 7)  }
	.col-xs-8  { width: nth($widths, 8)  }
	.col-xs-9  { width: nth($widths, 9)  }
	.col-xs-10 { width: nth($widths, 10) }
	.col-xs-11 { width: nth($widths, 11) }
	.col-xs-12 { width: nth($widths, 12) }

	.col-xs-offset-0  { margin-left: 0 }
	.col-xs-offset-1  { margin-left: nth($widths, 1)  }
	.col-xs-offset-2  { margin-left: nth($widths, 2)  }
	.col-xs-offset-3  { margin-left: nth($widths, 3)  }
	.col-xs-offset-4  { margin-left: nth($widths, 4)  }
	.col-xs-offset-5  { margin-left: nth($widths, 5)  }
	.col-xs-offset-6  { margin-left: nth($widths, 6)  }
	.col-xs-offset-7  { margin-left: nth($widths, 7)  }
	.col-xs-offset-8  { margin-left: nth($widths, 8)  }
	.col-xs-offset-9  { margin-left: nth($widths, 9)  }
	.col-xs-offset-10 { margin-left: nth($widths, 10) }
	.col-xs-offset-11 { margin-left: nth($widths, 11) }
	.col-xs-offset-12 { margin-left: nth($widths, 12) }

}

@media (min-width: $breakpoint-sm) {

	.col-sm-1  { width: nth($widths, 1)  }
	.col-sm-2  { width: nth($widths, 2)  }
	.col-sm-3  { width: nth($widths, 3)  }
	.col-sm-4  { width: nth($widths, 4)  }
	.col-sm-5  { width: nth($widths, 5)  }
	.col-sm-6  { width: nth($widths, 6)  }
	.col-sm-7  { width: nth($widths, 7)  }
	.col-sm-8  { width: nth($widths, 8)  }
	.col-sm-9  { width: nth($widths, 9)  }
	.col-sm-10 { width: nth($widths, 10) }
	.col-sm-11 { width: nth($widths, 11) }
	.col-sm-12 { width: nth($widths, 12) }

	.col-sm-fifth { width: 20%; }

	.col-sm-offset-0  { margin-left: 0 }
	.col-sm-offset-1  { margin-left: nth($widths, 1)  }
	.col-sm-offset-2  { margin-left: nth($widths, 2)  }
	.col-sm-offset-3  { margin-left: nth($widths, 3)  }
	.col-sm-offset-4  { margin-left: nth($widths, 4)  }
	.col-sm-offset-5  { margin-left: nth($widths, 5)  }
	.col-sm-offset-6  { margin-left: nth($widths, 6)  }
	.col-sm-offset-7  { margin-left: nth($widths, 7)  }
	.col-sm-offset-8  { margin-left: nth($widths, 8)  }
	.col-sm-offset-9  { margin-left: nth($widths, 9)  }
	.col-sm-offset-10 { margin-left: nth($widths, 10) }
	.col-sm-offset-11 { margin-left: nth($widths, 11) }
	.col-sm-offset-12 { margin-left: nth($widths, 12) }

}

@media (min-width: $breakpoint-md) {

	.container {
		// max-width: 96rem;
		max-width: 100.4rem;
		margin: 0 auto;
	}

	.container--narrow {
		max-width: 100.4rem;
		margin: 0 auto;
	}

	.col-md-1  { width: nth($widths, 1)  }
	.col-md-2  { width: nth($widths, 2)  }
	.col-md-3  { width: nth($widths, 3)  }
	.col-md-4  { width: nth($widths, 4)  }
	.col-md-5  { width: nth($widths, 5)  }
	.col-md-6  { width: nth($widths, 6)  }
	.col-md-7  { width: nth($widths, 7)  }
	.col-md-8  { width: nth($widths, 8)  }
	.col-md-9  { width: nth($widths, 9)  }
	.col-md-10 { width: nth($widths, 10) }
	.col-md-11 { width: nth($widths, 11) }
	.col-md-12 { width: nth($widths, 12) }

	.col-md-fifth { width: 20%; }

	.col-md-offset-0  { margin-left: 0 }
	.col-md-offset-1  { margin-left: nth($widths, 1)  }
	.col-md-offset-2  { margin-left: nth($widths, 2)  }
	.col-md-offset-3  { margin-left: nth($widths, 3)  }
	.col-md-offset-4  { margin-left: nth($widths, 4)  }
	.col-md-offset-5  { margin-left: nth($widths, 5)  }
	.col-md-offset-6  { margin-left: nth($widths, 6)  }
	.col-md-offset-7  { margin-left: nth($widths, 7)  }
	.col-md-offset-8  { margin-left: nth($widths, 8)  }
	.col-md-offset-9  { margin-left: nth($widths, 9)  }
	.col-md-offset-10 { margin-left: nth($widths, 10) }
	.col-md-offset-11 { margin-left: nth($widths, 11) }
	.col-md-offset-12 { margin-left: nth($widths, 12) }

}

@media (min-width: $breakpoint-lg) {

	.container {
		max-width: 120rem;
	}

	.col-lg-1  { width: nth($widths, 1)  }
	.col-lg-2  { width: nth($widths, 2)  }
	.col-lg-3  { width: nth($widths, 3)  }
	.col-lg-4  { width: nth($widths, 4)  }
	.col-lg-5  { width: nth($widths, 5)  }
	.col-lg-6  { width: nth($widths, 6)  }
	.col-lg-7  { width: nth($widths, 7)  }
	.col-lg-8  { width: nth($widths, 8)  }
	.col-lg-9  { width: nth($widths, 9)  }
	.col-lg-10 { width: nth($widths, 10) }
	.col-lg-11 { width: nth($widths, 11) }
	.col-lg-12 { width: nth($widths, 12) }

	.col-lg-fifth { width: 20%; }

	.col-lg-offset-0  { margin-left: 0 }
	.col-lg-offset-1  { margin-left: nth($widths, 1)  }
	.col-lg-offset-2  { margin-left: nth($widths, 2)  }
	.col-lg-offset-3  { margin-left: nth($widths, 3)  }
	.col-lg-offset-4  { margin-left: nth($widths, 4)  }
	.col-lg-offset-5  { margin-left: nth($widths, 5)  }
	.col-lg-offset-6  { margin-left: nth($widths, 6)  }
	.col-lg-offset-7  { margin-left: nth($widths, 7)  }
	.col-lg-offset-8  { margin-left: nth($widths, 8)  }
	.col-lg-offset-9  { margin-left: nth($widths, 9)  }
	.col-lg-offset-10 { margin-left: nth($widths, 10) }
	.col-lg-offset-11 { margin-left: nth($widths, 11) }
	.col-lg-offset-12 { margin-left: nth($widths, 12) }

}

@media (min-width: $breakpoint-xl) {

	.container {
		max-width: 144rem;
	}

	.col-xl-1  { width: nth($widths, 1)  }
	.col-xl-2  { width: nth($widths, 2)  }
	.col-xl-3  { width: nth($widths, 3)  }
	.col-xl-4  { width: nth($widths, 4)  }
	.col-xl-5  { width: nth($widths, 5)  }
	.col-xl-6  { width: nth($widths, 6)  }
	.col-xl-7  { width: nth($widths, 7)  }
	.col-xl-8  { width: nth($widths, 8)  }
	.col-xl-9  { width: nth($widths, 9)  }
	.col-xl-10 { width: nth($widths, 10) }
	.col-xl-11 { width: nth($widths, 11) }
	.col-xl-12 { width: nth($widths, 12) }

	.col-xl-fifth { width: 20%; }

	.col-xl-offset-0  { margin-left: 0 }
	.col-xl-offset-1  { margin-left: nth($widths, 1)  }
	.col-xl-offset-2  { margin-left: nth($widths, 2)  }
	.col-xl-offset-3  { margin-left: nth($widths, 3)  }
	.col-xl-offset-4  { margin-left: nth($widths, 4)  }
	.col-xl-offset-5  { margin-left: nth($widths, 5)  }
	.col-xl-offset-6  { margin-left: nth($widths, 6)  }
	.col-xl-offset-7  { margin-left: nth($widths, 7)  }
	.col-xl-offset-8  { margin-left: nth($widths, 8)  }
	.col-xl-offset-9  { margin-left: nth($widths, 9)  }
	.col-xl-offset-10 { margin-left: nth($widths, 10) }
	.col-xl-offset-11 { margin-left: nth($widths, 11) }
	.col-xl-offset-12 { margin-left: nth($widths, 12) }

}






























// .container {
// 	max-width: 70em;
// 	margin-left: auto;
// 	margin-right: auto;
// }

// .container--wide {
// 	width: 100%;
// }

// .container--narrow {
// 	// max-width: 58.75em;
// 	max-width: 62.75em;
// 	margin-left: auto;
// 	margin-right: auto;
// }

// .col {
// 	display: block;
// 	float: left;
// 	width: 100%;
// }

// .col-xs-1  { width: 8.333333333333332%;  }
// .col-xs-2  { width: 16.666666666666664%; }
// .col-xs-3  { width: 25%;                 }
// .col-xs-4  { width: 33.33333333333333%;  }
// .col-xs-5  { width: 41.66666666666667%;  }
// .col-xs-6  { width: 50%;                 }
// .col-xs-7  { width: 58.333333333333336%; }
// .col-xs-8  { width: 66.66666666666666%;  }
// .col-xs-9  { width: 75%;                 }
// .col-xs-10 { width: 83.33333333333334%;  }
// .col-xs-11 { width: 91.66666666666666%;  }
// .col-xs-12 { width: 100%;                }

// .px-xs-1 { padding-left: 1.6rem; padding-right: 1.6rem; }
// .px-xs-2 { padding-left: 3.2rem; padding-right: 3.2rem; }
// .px-xs-3 { padding-left: 4.8rem; padding-right: 4.8rem; }

// .mx-xs-n1 { margin-left: -1.6rem; margin-right: -1.6rem; }
// .mx-xs-n2 { margin-left: -3.2rem; margin-right: -3.2rem; }
// .mx-xs-n3 { margin-left: -4.8rem; margin-right: -4.8rem; }

// .visible--sm { display: none; }
// .visible--md { display: none; }
// .visible--lg { display: none; }

// @media (min-width: $breakpoint-sm) {

// 	.col-sm-1  { width: 8.333333333333332%;  }
// 	.col-sm-2  { width: 16.666666666666664%; }
// 	.col-sm-3  { width: 25%;                 }
// 	.col-sm-4  { width: 33.33333333333333%;  }
// 	.col-sm-5  { width: 41.66666666666667%;  }
// 	.col-sm-6  { width: 50%;                 }
// 	.col-sm-7  { width: 58.333333333333336%; }
// 	.col-sm-8  { width: 66.66666666666666%;  }
// 	.col-sm-9  { width: 75%;                 }
// 	.col-sm-10 { width: 83.33333333333334%;  }
// 	.col-sm-11 { width: 91.66666666666666%;  }
// 	.col-sm-12 { width: 100%;                }

// 	.col-sm-offset-12 { margin-left: 100%;                }
//   .col-sm-offset-11 { margin-left: 91.66666666666666%;  }
//   .col-sm-offset-10 { margin-left: 83.33333333333334%;  }
//   .col-sm-offset-9  { margin-left: 75%;                 }
//   .col-sm-offset-8  { margin-left: 66.66666666666666%;  }
//   .col-sm-offset-7  { margin-left: 58.333333333333336%; }
//   .col-sm-offset-6  { margin-left: 50%;                 }
//   .col-sm-offset-5  { margin-left: 41.66666666666667%;  }
//   .col-sm-offset-4  { margin-left: 33.33333333333333%;  }
//   .col-sm-offset-3  { margin-left: 25%;                 }
//   .col-sm-offset-2  { margin-left: 16.666666666666664%; }
//   .col-sm-offset-1  { margin-left: 8.333333333333332%;  }
//   .col-sm-offset-0  { margin-left: 0%;                  }

//   .px-sm-1 { padding-left: 1.6rem; padding-right: 1.6rem; }
// 	.px-sm-2 { padding-left: 3.2rem; padding-right: 3.2rem; }
// 	.px-sm-3 { padding-left: 4.8rem; padding-right: 4.8rem; }

// 	.mx-sm-n1 { margin-left: -1.6rem; margin-right: -1.6rem; }
// 	.mx-sm-n2 { margin-left: -3.2rem; margin-right: -3.2rem; }
// 	.mx-sm-n3 { margin-left: -4.8rem; margin-right: -4.8rem; }

// 	.visible--sm { display: initial; }

// }

// @media (min-width: $breakpoint-md) {

// 	.col-md-1  { width: 8.333333333333332%;  }
// 	.col-md-2  { width: 16.666666666666664%; }
// 	.col-md-3  { width: 25%;                 }
// 	.col-md-4  { width: 33.33333333333333%;  }
// 	.col-md-5  { width: 41.66666666666667%;  }
// 	.col-md-6  { width: 50%;                 }
// 	.col-md-7  { width: 58.333333333333336%; }
// 	.col-md-8  { width: 66.66666666666666%;  }
// 	.col-md-9  { width: 75%;                 }
// 	.col-md-10 { width: 83.33333333333334%;  }
// 	.col-md-11 { width: 91.66666666666666%;  }
// 	.col-md-12 { width: 100%;                }

// 	.col-md-offset-12 { margin-left: 100%;                }
//   .col-md-offset-11 { margin-left: 91.66666666666666%;  }
//   .col-md-offset-10 { margin-left: 83.33333333333334%;  }
//   .col-md-offset-9  { margin-left: 75%;                 }
//   .col-md-offset-8  { margin-left: 66.66666666666666%;  }
//   .col-md-offset-7  { margin-left: 58.333333333333336%; }
//   .col-md-offset-6  { margin-left: 50%;                 }
//   .col-md-offset-5  { margin-left: 41.66666666666667%;  }
//   .col-md-offset-4  { margin-left: 33.33333333333333%;  }
//   .col-md-offset-3  { margin-left: 25%;                 }
//   .col-md-offset-2  { margin-left: 16.666666666666664%; }
//   .col-md-offset-1  { margin-left: 8.333333333333332%;  }
//   .col-md-offset-0  { margin-left: 0%;                  }

//   .px-md-1 { padding-left: 1.6rem; padding-right: 1.6rem; }
// 	.px-md-2 { padding-left: 3.2rem; padding-right: 3.2rem; }
// 	.px-md-3 { padding-left: 4.8rem; padding-right: 4.8rem; }

// 	.mx-md-n1 { margin-left: -1.6rem; margin-right: -1.6rem; }
// 	.mx-md-n2 { margin-left: -3.2rem; margin-right: -3.2rem; }
// 	.mx-md-n3 { margin-left: -4.8rem; margin-right: -4.8rem; }

// 	.visible--md { display: initial; }

// }

// @media (min-width: $breakpoint-lg) {

// 	.container {
// 		max-width: none;
// 		margin-left: 4.8rem;
// 		margin-right: 4.8rem;
// 	}

// 	.col-lg-1  { width: 8.333333333333332%;  }
// 	.col-lg-2  { width: 16.666666666666664%; }
// 	.col-lg-3  { width: 25%;                 }
// 	.col-lg-4  { width: 33.33333333333333%;  }
// 	.col-lg-5  { width: 41.66666666666667%;  }
// 	.col-lg-6  { width: 50%;                 }
// 	.col-lg-7  { width: 58.333333333333336%; }
// 	.col-lg-8  { width: 66.66666666666666%;  }
// 	.col-lg-9  { width: 75%;                 }
// 	.col-lg-10 { width: 83.33333333333334%;  }
// 	.col-lg-11 { width: 91.66666666666666%;  }
// 	.col-lg-12 { width: 100%;                }

// 	.col-lg-offset-12 { margin-left: 100%;                }
//   .col-lg-offset-11 { margin-left: 91.66666666666666%;  }
//   .col-lg-offset-10 { margin-left: 83.33333333333334%;  }
//   .col-lg-offset-9  { margin-left: 75%;                 }
//   .col-lg-offset-8  { margin-left: 66.66666666666666%;  }
//   .col-lg-offset-7  { margin-left: 58.333333333333336%; }
//   .col-lg-offset-6  { margin-left: 50%;                 }
//   .col-lg-offset-5  { margin-left: 41.66666666666667%;  }
//   .col-lg-offset-4  { margin-left: 33.33333333333333%;  }
//   .col-lg-offset-3  { margin-left: 25%;                 }
//   .col-lg-offset-2  { margin-left: 16.666666666666664%; }
//   .col-lg-offset-1  { margin-left: 8.333333333333332%;  }
//   .col-lg-offset-0  { margin-left: 0%;                  }

//   .visible--lg { display: initial; }

// }
