
.main-navigation {
  .nav-active {
    display: block;
    position: fixed;
    // top: 9.2rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-teal-500;
    z-index: -1;

    padding-top: 11.2rem;
    padding-bottom: 11.2rem;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  nav {
    display: none;
    ul {
      margin: 0;
      padding-left: 0;
      list-style: none;
    }
  }
  @media (min-width: $breakpoint-md) {
    float: left;
    
    .nav-active {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      background: transparent;
      z-index: 0;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
    }

    nav {
      display: block;
    }
  }
}

.main-navigation__toggle {
  display: block;
  float: right;
  border-top: 1px solid rgba(255,255,255,0.2);
  text-align: center;
  padding-top: 2.1rem;
  padding-left: 1rem;
  @media (min-width: $breakpoint-md) {
    display: none;
  }
}

.main-navigation__item {
  float: left;
  text-align: center;
  width: 100%;
  border-bottom: 2px dashed $color-grey-400;
  @media (min-width: $breakpoint-md) {
    border-bottom: 0;
    text-align: left;
    width: auto;
  }
}

.main-navigation__item > a {
  color: $color-white;
  padding: 1rem 0;
  display: block;
  @media (min-width: $breakpoint-md) {
    // display: block;
    padding-top: 4rem;
    padding-bottom: 4rem;
    line-height: 2rem;
  }
}

.main-navigation__item--dropdown:hover {
  @media (min-width: $breakpoint-md) {
    background: $color-teal-500;
    > .dropdown {
      visibility: visible !important;
      ul { opacity: 1 !important; }
    }
  }
}

.main-navigation__item--dropdown .dropdown {
  visibility: visible;
  ul { opacity: 1; }
  li:after {
    display: block;
    position: relative;
    content: ' ';
    width: 10%;
    border-bottom: 2px dashed $color-grey-400;
    margin: 1.6rem auto 0 auto;
  }
  @media (min-width: $breakpoint-md) {
    position: fixed;
    top: 10rem;
    left: 0;
    width: 100%;
    min-height: 24rem;
    visibility: hidden;
    background: $color-teal-600;
    z-index: 1000;
    > .container { background: $color-teal-500; }
    ul {
      // opacity: 0;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
    }
    li:after {
      display: none;
    }
    li > a {
      color: $color-white;
      display: block;
      padding-bottom: 1.6rem;
      border-bottom: 2px dashed rgba(255,255,255,0.3);
      &:hover,
      &:focus { color: $color-yellow-500; }
    }

    // li > a { height: 9rem; }
    li > a { height: 6.4rem; }

    &.dropdown--open {
      visibility: visible;
      ul { opacity: 1; }
    }
  }
  // @media (min-width: $breakpoint-lg) {
  //   li > a { height: 6.4rem; }
  // }
}