

h1,h2,h3 {
	font-weight: $font-weight-heading;
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
}

h4,h5,h6 {
	font-weight: $font-weight-heading;
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
}

p {
	margin-top: 0;
}

blockquote {
	position: relative;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	font-weight: 300;
	&:before,
	&:after {
		position: absolute;
		left: 0;
		content: "";
		width: 50%;
		height: 2px;
		background: $color-grey-400;
	}
	&:before { top: 0;    }
	&:after  { bottom: 0; }
}

.display--5 {
	font-size: 9.6rem;
	line-height: 10.4rem;
}

.display--4 {
	font-size: 4rem;
	line-height: 4.8rem;
	@media (min-width: $breakpoint-sm) {
		font-size: 4.8rem;
		line-height: 5.6rem;
	}
	@media (min-width: $breakpoint-md) {
		font-size: 5.6rem;
		line-height: 6.4rem;
	}
}
.display--3 {
	font-size: 3.2rem;
	line-height: 4rem;
	@media (min-width: $breakpoint-sm) {
		font-size: 4rem;
		line-height: 4.8rem;
	}
	@media (min-width: $breakpoint-md) {
		font-size: 4.8rem;
		line-height: 5.6rem;
	}
}
.display--2 {
	font-size: 3.2rem;
	line-height: 4rem;
	@media (min-width: $breakpoint-md) {
		font-size: 4rem;
		line-height: 4.8rem;
	}
}
.display--1 {
	font-size: 2.4rem;
	line-height: 3.2rem;
	@media (min-width: $breakpoint-sm) {
		font-size: 3.2rem;
		line-height: 4rem;
	}
}
.headline {
	font-size: 2rem;
	line-height: 2.8rem;
	@media (min-width: $breakpoint-sm) {
		font-size: 2.4rem;
		line-height: 3.2rem;
	}
}
.title {
	font-size: 2rem;
	line-height: 2.8rem;
}
.subhead {
	font-size: 1.6rem;
	line-height: 2rem;
}


.lead {
	font-size:   2rem;
	line-height: 3.4rem;
	font-weight: 300;
	@media (min-width: $breakpoint-sm) {
		font-size: 2.2rem;
		line-height: 3.6rem;
	}
}

.small {
	font-size: 75%;
	line-height: 1.7;
}

.body-text {
	font-size: 1.8rem;
	line-height: 2.9rem;
	p {
		margin-bottom: 3.6rem;
	}
	sup {
		position: relative;
		display: inline-block;
		top: -0.8rem;
		vertical-align: top;
		color: $color-grey-400;
		cursor: default;
		.tooltip {
			display: none;
			position: absolute;
			bottom: 100%;
			left: 50%;
			width: 30rem;
			transform: translateX(-50%);
			padding: 1.6rem 2.4rem;
			background: $color-teal-600;
			box-shadow: 0 2px 16px -4px rgba(0,0,0,0.3);

			font-size: 1.4rem;
			line-height: 2rem;
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -0.8rem;
				border-top: 0.8rem solid $color-teal-600;
				border-left: 0.8rem solid transparent;
				border-right: 0.8rem solid transparent;
			}
		}
		&:hover {
			.tooltip {
				display: block;
			}
		}
	}
}















// h1,h2,h3,h4,h5,h6 {
// 	font-weight: $font-weight-heading;
// }

// p {
// 	margin-top: 0;
// 	margin-bottom: $space-base * 1.5;
// 	font-weight: 400;
// }

// .body-text {
// 	font-size: $font-size-article;
// 	p {
// 		margin-bottom: 3.6rem;
// 	}
// 	a {
// 		color: $color-yellow-500;
// 	}
// }

// .typo--display-4 {
// 	font-size: 11.2rem;
// 	line-height: 1;
// 	font-weight: 300;

// 	margin-top: 2.4rem;
// 	margin-bottom: 2.4rem;
// }

// h1, .typo--display-3 {
// 	font-size: 4.8rem;
// 	line-height: 5.6rem;

// 	margin-top: 2.4rem;
// 	margin-bottom: 2.4rem;
// 	@media (min-width: $breakpoint-md) {
// 		font-size: 5.6rem;
// 		line-height: 6.4rem;
// 	}
// }

// h2, .typo--display-2 {
// 	font-size: 4.8rem;
// 	line-height: 5.6rem;

// 	margin-top: 2.4rem;
// 	margin-bottom: 2.4rem;
// }

// h3, .typo--display-1 {
// 	font-size: 3.2rem;
// 	line-height: 4rem;
// 	color: $color-grey-400;
// 	text-transform: uppercase;

// 	margin-top: 2.4rem;
// 	margin-bottom: 2.4rem;
// }

// h4, .typo--headline {
// 	font-size: 2.4rem;
// 	line-height: 3.2rem;

// 	margin-top: 2.4rem;
// 	margin-bottom: 1.6rem;
// }

// h5, .typo--title {
// 	font-size: 2rem;
// 	line-height: 2.6rem;

// 	margin-top: 2.4rem;
// 	margin-bottom: 1.6rem;
// }

// h6, .typo--subhead {
// 	font-size: 1.6rem;
// 	line-height: 2.4rem;

// 	margin-top: 2.4rem;
// 	margin-bottom: 1.6rem;
// }

// .typo--lead {
// 	font-size: 2rem;
// 	line-height: 3.4rem;
// 	font-weight: 300;
// 	// margin-bottom: 2.4rem;
// 	margin-bottom: 3.6rem;
// 	@media (min-width: $breakpoint-md) {
// 		font-size: 2.2rem;
// 		line-height: 3.6rem;
// 	}
// }

// .typo--small {
// 	font-size: 1.4rem;
// 	line-height: 2rem;
// }

// .typo--break-lg {
// 	font-size: 4rem;
// 	line-height: 4.8rem;
// 	p { font-weight: 700; }
// 	strong {
// 		font-weight: inherit;
// 		color: #B89434;
// 	}
// }

// .typo--break-md {
// 	font-size: 2.4rem;
// 	line-height: 3.2rem;
// 	color: $color-grey-400;
// 	strong {
// 		font-weight: inherit;
// 		color: #B89434;
// 	}
// }

// .typo--break-sm {
// 	color: $color-grey-400;
// 	strong {
// 		font-weight: inherit;
// 		color: #B89434;
// 	}
// }

// .typo--uppercase {
// 	text-transform: uppercase;
// 	letter-spacing: 1px;
// }

// .typo--teal {
// 	color: #204F5A;
// }

// .typo--muted {
// 	color: $color-grey-400;
// }

// .typo--left {
// 	text-align: left;
// }

// .typo--right {
// 	text-align: right;
// }

// .typo--center {
// 	text-align: center;
// }

// .typo--yellow {
// 	color: #B89434;
// }

