
.list--unstyled {
	list-style: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.m-0   { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }

.m-05   { margin: $space-base / 2;          }
.m-t-05 { margin-top: $space-base / 2;      }
.m-r-05 { margin-right: $space-base / 2;    }
.m-b-05 { margin-bottom: $space-base / 2;   }
.m-l-05 { margin-left: $space-base / 2;     }

.m-1   { margin: $space-base;               }
.m-t-1 { margin-top: $space-base;           }
.m-r-1 { margin-right: $space-base;         }
.m-b-1 { margin-bottom: $space-base;        }
.m-l-1 { margin-left: $space-base;          }

.m-15   { margin: $space-base * 1.5;        }
.m-t-15 { margin-top: $space-base * 1.5;    }
.m-r-15 { margin-right: $space-base * 1.5;  }
.m-b-15 { margin-bottom: $space-base * 1.5; }
.m-l-15 { margin-left: $space-base * 1.5;   }

.m-2   { margin: $space-base * 2;           }
.m-t-2 { margin-top: $space-base * 2;       }
.m-r-2 { margin-right: $space-base * 2;     }
.m-b-2 { margin-bottom: $space-base * 2;    }
.m-l-2 { margin-left: $space-base * 2;      }

.m-b-3 { margin-bottom: $space-base * 3;    }
.m-b-4 { margin-bottom: $space-base * 4;    }

.m-x-n1  { margin-left: -$space-base; margin-right: -$space-base; }
.m-x-n15 { margin-left: -$space-base * 1.5; margin-right: -$space-base * 1.5; }
.m-x-n2  { margin-left: -$space-base * 2; margin-right: -$space-base * 2; }
.m-x-n3  { margin-left: -$space-base * 3; margin-right: -$space-base * 3; }
.m-x-n4  { margin-left: -$space-base * 4; margin-right: -$space-base * 4; }


.p-0   { padding: 0 !important; }

.p-05  { padding: $space-base / 2; }
.p-y-05 { padding-top: $space-base / 2; padding-bottom: $space-base / 2; }
.p-x-05 { padding-left: $space-base / 2; padding-right: $space-base / 2; }

.p-1   { padding: $space-base; }
.p-y-1  { padding-top: $space-base; padding-bottom: $space-base; }
.p-x-1  { padding-left: $space-base; padding-right: $space-base; }

.p-15  { padding: $space-base * 1.5; }
.p-y-15 { padding-top: $space-base * 1.5; padding-bottom: $space-base * 1.5; }
.p-x-15 { padding-left: $space-base * 1.5; padding-right: $space-base * 1.5; }

.p-2   { padding: $space-base * 2; }
.p-y-2  { padding-top: $space-base * 2; padding-bottom: $space-base * 2; }
.p-x-2  { padding-left: $space-base * 2; padding-right: $space-base * 2; }

.p-25  { padding: $space-base * 2.5; }
.p-y-25 { padding-top: $space-base * 2.5; padding-bottom: $space-base * 2.5; }
.p-x-25 { padding-left: $space-base * 2.5; padding-right: $space-base * 2.5; }

.p-3   { padding: $space-base * 3; }
.p-y-3  { padding-top: $space-base * 3; padding-bottom: $space-base * 3; }
.p-x-3  { padding-left: $space-base * 3; padding-right: $space-base * 3; }

.p-4   { padding: $space-base * 4; }
.p-y-4  { padding-top: $space-base * 4; padding-bottom: $space-base * 4; }
.p-x-4  { padding-left: $space-base * 4; padding-right: $space-base * 4; }

.p-y-5  { padding-top: $space-base * 5; padding-bottom: $space-base * 5; }

.p-t-0 { padding-top:    0; }
.p-r-0 { padding-right:  0; }
.p-b-0 { padding-bottom: 0; }
.p-l-0 { padding-left:   0; }

.p-05   { padding: $space-base / 2;          }
.p-t-05 { padding-top: $space-base / 2;      }
.p-r-05 { padding-right: $space-base / 2;    }
.p-b-05 { padding-bottom: $space-base / 2;   }
.p-l-05 { padding-left: $space-base / 2;     }

.p-1   { padding: $space-base;               }
.p-t-1 { padding-top: $space-base;           }
.p-r-1 { padding-right: $space-base;         }
.p-b-1 { padding-bottom: $space-base;        }
.p-l-1 { padding-left: $space-base;          }

.p-15   { padding: $space-base * 1.5;        }
.p-t-15 { padding-top: $space-base * 1.5;    }
.p-r-15 { padding-right: $space-base * 1.5;  }
.p-b-15 { padding-bottom: $space-base * 1.5; }
.p-l-15 { padding-left: $space-base * 1.5;   }

.p-2   { padding: $space-base * 2;           }
.p-t-2 { padding-top: $space-base * 2;       }
.p-r-2 { padding-right: $space-base * 2;     }
.p-b-2 { padding-bottom: $space-base * 2;    }
.p-l-2 { padding-left: $space-base * 2;      }

.p-t-3 { padding-top: $space-base * 3;       }
.p-b-3 { padding-bottom: $space-base * 3;    }

.p-t-4 { padding-top: $space-base * 4;       }
.p-b-4 { padding-bottom: $space-base * 4;    }


.bg--black   { background-color: #111;color:#fff; }
.bg--grey    { background-color: $color-grey-100; }
.bg--white   { background-color: #fff; }
.bg--beige   { background-color: $color-beige-500;color:#fff;       }

.bg--red       { background-color: $color-red-500;color:#fff;       }
.bg--blue      { background-color: $color-blue-500;color:#fff;      }
.bg--teal      { background-color: #204F5A;color:#fff;              }
.bg--turquoise { background-color: $color-turquoise-500;color:#fff; }
.bg--green     { background-color: $color-green-500;color:#fff;     }
.bg--orange    { background-color: $color-orange-500;color:#fff;    }
// .bg--yellow    { background-color: $color-yellow-500;color:#fff;    }
.bg--yellow    { background-color: #B89434;color:#fff;    }
.bg--pink      { background-color: $color-pink-500;color:#fff;      }
